extends ../layout

block content
  include ./includes/header
  .main
    .container.tim-container
      .tim-title
        h3 大学生科技创业中心
          small 正在收集你们的课表
      .row
        .col-sm-3
          .form-group.feedback
            input.form-control#dutyname(type='text', value='', placeholder='姓名')
        .col-sm-3
          .form-group.has-feedback
            input.form-control#dutynum(type='text', value='', placeholder='学号')
        .col-sm-3
          .form-group.has-feedback
            input.form-control#dutytel(type='text', value='', placeholder='联系方式')
            span.glyphicon.glyphicon-earphone.form-control-feedback
        .col-sm-3
          .input-group.feedback
            input.form-control#dutydeptn(type='text', value=dept.name, placeholder='部门', value-id=dept_id)
            input.form-control#dutydept(type='hidden', value=dept.n)
            span.input-group-addon
              i.fa.fa-group
      // end row
      .tim-title
        h5 课表
      #acordeon
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-target='#collapseOne', href='#collapseOne', data-toggle='gsdk-collapse')
                  | XLS文件上传 
                  a(href="/demofiles/demo.xls" style="color:red;") 文件[点击下载]
            #collapseOne.panel-collapse.collapse
              .panel-body
                .form-group
                  input#uploadPoster(type="file",name="uploadPoster", accept=".xls*", onchange ="uploadFile(this)")
                  input(type="hidden", id="filename")
                  input(type="hidden", id="type")
                  br
                  br
                  br
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-target='#collapseTwo', href='#collapseTwo', data-toggle='gsdk-collapse')
                  | 课表直接填写
            #collapseTwo.panel-collapse.collapse
              .panel-body#table
                  
      .tim-title
        h3 已经上交的童鞋
      .row
        table.table.table-condensed.table-hover.table-responsive
          tr
            td #
            td 姓名
            td 学号
            td 电话
            td 部门
            td 时间
            td 状态
          each item,i in members
            tr
              td #{i}
              td #{item.name}
              td #{item.num}
              td #{item.tel}
              td #{item.dept}
              td #{moment(item.meta.createAt).format('MM/DD/YYYY HH:MM:SS')}
              td #{item.status}

          
                        
block contentjs
  script(src='assets/js/classtable.js')
  script(src='assets/js/jquery.ajaxfileupload.js')
  script(src='assets/js/gsdk-checkbox.js')
  script(src='assets/js/gsdk-radio.js')
  script(src='assets/js/gsdk-bootstrapswitch.js')
  script(src='assets/js/get-shit-done.js')
  script(src='assets/js/custom.js')
  script(type='text/javascript').
    $('.btn-tooltip').tooltip();
    $('.label-tooltip').tooltip();
    $('.pick-class-label').click(function(){
      var new_class = $(this).attr('new-class');
      var title = $(this).attr('data-original-title');
      var old_class = $('#display-buttons').attr('data-class');
      var display_div = $('#display-buttons');
      if(display_div.length) {
        var display_buttons = display_div.find('.btn');
        display_buttons.removeClass(old_class);
        display_buttons.addClass(new_class);
        display_buttons.text(title+"点击此进入(点击相应的部门去填写上交课表)");
        display_div.attr('data-class', new_class);
      }
    });
